@font-face {
    font-family: 'alarm_clockregular';
    src: url('/assets/alarm_clock/alarm_clock-webfont.woff2') format('woff2'),
         url('/assets/alarm_clock/alarm_clock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url(/assets/casey-horner-RmoWqDCqN2E-unsplash.jpg);
    background-color: #204455;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: block;
    text-align: center;
    line-height: 45px;
    color:aliceblue
}

header label {
    font-size: 24px;
}

#countdowndate {
    text-align: center;
    height: 35px;
    margin: 20px;

}

.doombutton, .yaybutton {
    margin: 20px;
    height: 30px;
}
.countdownclock {
    display: flex;
    min-height: 100vh;
    padding: 150px 0;
    justify-content: space-evenly;
    color:aliceblue;
    font-size: 24px;
    text-align: center;

}

.day, .hour, .minute, .second {
    font-family: 'alarm_clockregular';
    font-size: 85px;
}
